body {
    margin: 100px;
    background-color: #ead7d7;
}

h1 {
    text-align: center;
}

.bg-light {
    background-color:transparent!important ;
}

.contact {
    color: palevioletred;
    text-decoration: none;
    font-size: larger;
    display: block;
    text-align: center;
}

.programmer {
    text-decoration: none;
    color: palevioletred;
}